
<h2 class="page-title">ALL BEANS</h2>

<div class="product_card">
  <% @beans.each do |bean| %>
    <p> <%= link_to bean.name, bean_path(bean.id) %> </p>
  <% end %>
</div>

<%= link_to "NEW", new_bean_path %>
