// Place all the styles related to the beans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  box-sizing: border-box;
}
.page-title{
  text-align: center;

}
.banner {
}

.banner-logo {
  max-width: 100%;
  max-height: 10%;
  min-width: 100%;
  min-height: 10%;
}

.product-main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  // flex-wrap: wrap;
  // flex-direction: row;
  // justify-content: flex-start;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5%;
  min-height: 100%;
  max-height: 100%;
  min-width: 100%;
  max-width: 100%;
}

.product-card-image {
    min-height: 50%;
    max-height: 50%;
    min-width: 50%;
    max-width: 50%;

}

.product-card-name {
  text-decoration: none;
  text-align: center;
  min-height: 10%;
  min-width: 10%;
  max-height: 15%;
  max-width: 10%;
  color: #333333;
}

.new-button {
    color: #333333;
    justify-content: center;
    text-align: center;

}

// .bean-name {
//     text-decoration: none;
//     background-color: gray;
//     border: 1px solid black;
// }
//
// .bean-img {
//   height: 25%;
//   width: 25%;
// }
