// Place all the styles related to the beans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.product_card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

p {
  display: flex;
  flex-direction: columns;
  justify-content: space-around;
  align-items: center;

  height: 100%;
  width: 100%;
  background-color: gray;
  border: 1px solid black;
}
