<!DOCTYPE html>
<html>
  <head>
    <title>OneTooMany</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Bungee+Inline%7CBungee+Outline%7CChanga%7CCutive+Mono%7CFascinate%7CGeostar+Fill%7CJulius+Sans+One%7CLalezar%7CMegrim%7CMonofett%7CMonoton%7CPlaster%7CPress+Start+2P%7CRationale%7CShare+Tech+Mono" rel="stylesheet"
  </head>

  <header class="header">
    <h1 class="main-title"> ONE_TOO_MANY? </h1>
  </header>

  <body>
    <%= yield %>

    <footer class="footer">
        2016 Valleys of Dinos
    </footer>
  </body>



</html>
